<!doctype html>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="assets/css/demo.css">
    
    
    
  </head>
  <body>

  <div ng-app="app" ng-controller="AppCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top material-whiteframe-z5" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <material-icon ng-click="toggleLeft()" style="position: static; display: block" class="material-button material-button-fab" icon="assets/img/icons/ic_menu_24px.svg"></material-icon>
          
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li >
              <a href="#" style="color:white"><h1>Project name</h1></a>
            </li>
            <li><a href="#" style="color:white"><h2><small>This is your brand new app!</small></h2></a></li>
            <li  ng-show="logoutButon" ><a href="#" style="color:white" class="pull-right"><h2><small>You are {{ userInfo }}</small></h2></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div ui-view class="container material-whiteframe-z2" style="padding-top:100px">
    </div>
    
    <material-sidenav class="material-sidenav-left material-whiteframe-z3" component-id="left">
      <div ng-controller="LeftCtrl" style="padding-top:100px; padding-left:20px">
        <div class="center-block">
          <h1>Menu</h1>
          <p >
            <button ui-sref="home" class="material-button material-button-colored material-whiteframe-z2">
              <i class="glyphicon glyphicon-home"> Home</i> 
            </button>
          </p>
          <p>
            <button ui-sref="signup" ng-hide="logoutButon" class="material-button material-button-colored">
              <i class="glyphicon glyphicon-pencil"> SignUp</i>
            </button>
          </p>
          <p>
            <button ui-sref="signin" ng-hide="logoutButon" class="material-button material-button-colored">
              <i class="glyphicon glyphicon-log-in"> LogIn</i>
            </button>
          </p>
          <p>
            <button href="#" ng-click="logout()" ng-show="logoutButon" class="material-button material-button-colored">
               <i class="glyphicon glyphicon-log-out"> LogOut</i>
            </button>
          </p>
          <p>
            <button class="material-button material-button-colored material-whiteframe-z2" ng-click="close()">
              <i class="glyphicon glyphicon-remove"> Close</i> 
            </button>
          </p>
        </div>
      </div>
    </material-sidenav>
  </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/libs/firebase/firebase.js"></script>
    <script src="assets/libs/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angularfire/angularfire.min.js"></script>
    <script src="assets/libs/angular/angular-animate.min.js"></script>
    
    <script src="assets/libs/angular/angular-ui-router.js"></script>
    <script src="assets/js/docs.js"></script>
    <script src="assets/js/script.js"></script>
  </body>
</html>
